/* Switcher */

.switcher {
    position: relative;
    display: grid;
    box-sizing: content-box;
    padding: 2px;
    border: none;
    margin: 0;
    aspect-ratio: 100/33;
    block-size: 84%;
    contain: strict;
    grid-template-columns: repeat(3, 1fr);
}

/* Switcher Legend */
.legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Switcher Radio */
.radio {
    appearance: none;
    aspect-ratio: 1/1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 74%;
    cursor: pointer;
    filter: invert(0);
    transition: filter 0.1s ease-in;
}

.radio:focus {
    outline: none;
}

.radio:checked {
    filter: invert(1);
}

.radio-light {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 7a5 5 0 100 10 5 5 0 000-10zM2 13h2a1 1 0 001-1 1 1 0 00-1-1H2a1 1 0 00-1 1 1 1 0 001 1zm18 0h2a1 1 0 001-1 1 1 0 00-1-1h-2a1 1 0 00-1 1 1 1 0 001 1zM11 2v2a1 1 0 001 1 1 1 0 001-1V2a1 1 0 00-1-1 1 1 0 00-1 1zm0 18v2a1 1 0 001 1 1 1 0 001-1v-2a1 1 0 00-2 0zM5.99 4.58a1 1 0 10-1.41 1.41l1.06 1.06a1 1 0 101.41-1.41L5.99 4.58zm12.37 12.37a1 1 0 10-1.41 1.41l1.06 1.06a1 1 0 101.41-1.41l-1.06-1.06zm1.06-10.96a1 1 0 10-1.41-1.41l-1.06 1.06a1 1 0 101.41 1.41l1.06-1.06zM7.05 18.36a1 1 0 10-1.41-1.41l-1.06 1.06a1 1 0 101.41 1.41l1.06-1.06z"/></svg>');
}

.radio-default {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/><path fill-rule="evenodd" d="M22 12a10 10 0 11-20 0 10 10 0 0120 0zm-2 0a8 8 0 11-16 0 8 8 0 0116 0z"/></svg>');
}

.radio-dark {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 3a9 9 0 108.9 7.64 5.39 5.39 0 01-9.2-5.61 5.4 5.4 0 011.66-1.93c-.44-.06-.9-.1-1.36-.1z"/></svg>');
}

/* Switcher Status */

.status {
    position: absolute;
    z-index: -1;
    margin: 2px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle fill="black" cx="12" cy="12" r="12"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    border-radius: 999999px; /* great hack!!! */
    box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
    filter: invert(0);
    inset: 0;
    transition: background-position 0.1s ease-in;
}

/* Dark Scheme */
html[data-color_scheme='dark'] * .status {
    filter: invert(1);
}

html[data-color_scheme='dark'] * .radio {
    filter: invert(1);
}

html[data-color_scheme='dark'] * .radio:checked {
    filter: invert(0);
}

/* Radio states */

.radio:focus-visible ~ .status {
    box-shadow: 0 0 0 2px black;
}

.radio-light:checked ~ .status {
    background-position: left 1px center;
}

.radio-default:checked ~ .status {
    background-position: center center;
}

.radio-dark:checked ~ .status {
    background-position: right 1px center;
}

@media (prefers-color-scheme: dark) {
    html[data-color_scheme=''] * .status {
        filter: invert(1);
    }

    html[data-color_scheme=''] * .radio {
        filter: invert(1);
    }

    html[data-color_scheme=''] * .radio:checked {
        filter: invert(0);
    }
}
